Node-RED_UDP.flow
[{"id":"1313a536.76a5fb","type":"udp in","z":"b975c74.798e238","name":"","iface":"","port":"5656","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":120,"y":200,"wires":[["98df4a87.05c318"]]},{"id":"7a74536d.89fddc","type":"debug","z":"b975c74.798e238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":200,"wires":[]},{"id":"98df4a87.05c318","type":"json","z":"b975c74.798e238","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":200,"wires":[["7a74536d.89fddc","e4a2be22.59a1f","f260cf25.e49e"]]},{"id":"1de7505c.3d928","type":"ui_chart","z":"b975c74.798e238","tab":"665f7392.759d9c","name":"Temperature","group":"Temperature","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":670,"y":320,"wires":[[],[]]},{"id":"c00bb965.136268","type":"ui_chart","z":"b975c74.798e238","tab":"665f7392.759d9c","name":"Humidity","group":"Humidity","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":660,"y":460,"wires":[[],[]]},{"id":"dd1686e3.e6fde8","type":"ui_gauge","z":"b975c74.798e238","tab":"665f7392.759d9c","name":"Temperature","group":"Temperature","order":1,"format":"{{value}}","min":"22","max":"45","x":670,"y":360,"wires":[]},{"id":"e4a2be22.59a1f","type":"change","z":"b975c74.798e238","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"temperature\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":280,"wires":[["b66f9531.30fe88","1de7505c.3d928","dd1686e3.e6fde8"]]},{"id":"b66f9531.30fe88","type":"debug","z":"b975c74.798e238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":280,"wires":[]},{"id":"f260cf25.e49e","type":"change","z":"b975c74.798e238","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"humidity\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["c00bb965.136268","271abaae.d2e516","a139b6a6.0710c8"]]},{"id":"271abaae.d2e516","type":"debug","z":"b975c74.798e238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":420,"wires":[]},{"id":"a139b6a6.0710c8","type":"ui_gauge","z":"b975c74.798e238","tab":"665f7392.759d9c","name":"Humidity","group":"Humidity","order":1,"format":"{{value}}","min":"10","max":"80","x":660,"y":500,"wires":[]},{"id":"665f7392.759d9c","type":"ui_tab","z":"","name":"NB-IoT with DHT11","icon":"dashboard","order":"1"}]